
@import url('https://fonts.googleapis.com/css?family=Roboto');

* {
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;


}


body{

 margin: 0;
 padding: 0;
 font-family: 'quangobold',IBM Plex Serif,Lucida Console,Inconsolata, monospace;
 margin-top: 5vw;
 padding-left: 10px;
 padding-right:  10px;
 background-color: #300A24;
 color: #ffffff;



}

::placeholder {
  font-size: 18px;
  text-align:left;
  color: #ffffff;
  padding-left: 2px;
  font-family:  'quangobold',IBM Plex Serif,Lucida Console,Inconsolata, monospace;
  display: flex;
  justify-content: left;


}

input:focus::-webkit-input-placeholder {
    opacity: 0;
}

.container {
  /* border: 1px solid green;  */
  max-width: 600px;
  margin: auto;
  padding: 10px;
  font-size:  18px;
  font-weight:bolder;
  width: 100%;
  position: center;


}

.container input {
  width: 100%;
  padding-top: 1vw;
  padding-bottom: 1vh;
  background-color: #300A24;
  margin-bottom: 1em;
  color: #ffffff;
  padding-left: 10px;
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  letter-spacing: 1px;



}

form {

  margin-top: 15px;

}



input [type=name] {
   margin-top: 10px;
   margin-bottom: 20px;
   width: 100%;
   height: 1.5vh;
   padding: 15px;
   border-radius:5px;
   border: 1px solid #ffffff;




}


input [type=number] {
   margin-top: 10px;
   margin-bottom: 20px;
   width: 100%;
   padding: 15px;
   border-radius:5px;
   border: 1px solid #ffffff;



}

input [type=email] {
   margin-top: 10px;
   margin-bottom: 20px;
   width: 100%;
   padding: 15px;
   border-radius:5px;
   border: 1px solid #ffffff;


}

input [type=subject] {
   margin-top: 10px;
   margin-bottom: 20px;
   width: 100%;
   padding: 15px;
   border-radius:5px;
   border: 1px solid #ffffff;


}

/* I change to button 5/19/2019
/* original code:   <input class="btn" type="submit" value="Send" id="submit">

/*.btn {
  color:  #00FF00;
  font-family: 'quangobold',IBM Plex Serif,Lucida Console,Inconsolata, monospace;
  border-radius: 5px;
  /* font-size: 25px;
  /* font-weight: bolder; */
  /*letter-spacing: 1px;

}

/* .btn:hover {
cursor: pointer;
border-color: #00FF00;
/* color:  #00FF00; */
/*font-family: 'quangobold';
/* border-radius: 20px; */
/* font-size: 25px; */
/* font-weight: bolder; */
/* letter-spacing: 1px; */

/*} */

 button {
  width:25vw;
  height: 45px;


  background-color: #300A24; /* Green */
  border: 1px solid #ffffff;
  font-size: 19px;
  color: #ffffff;
  border-radius: 5px;
}

button:hover {
  width:25vw;
  height: 45px;


  background-color: #300A24; /* Green */
  border: 1px solid #00FF00;
  font-size: 19px;
  color: #ffffff;
  border-radius: 5px;
}

button span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

button span:after {
  content: none;
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

button:hover span {
  padding-right: 10px;
}

.btn:hover:after {content:"📨";font-size:32px}

@media only screen and (max-width: 600px) {

  button {
   width:100%;
   height: 45px;
 }

 button:hover {
   width:100%;
   height: 45px;

   background-color: #300A24; /* Green */
   border: 1px solid #00FF00;
   font-size: 19px;
   color: #ffffff;
   border-radius: 5px;

 }
  .btn:hover:after {content:""}
}



textarea {
width: 100%;
height: 170px;
padding: 15px;
padding-top: 15px;;
padding-bottom: 45px;
background-color: #300A24;
color: #ffffff;
padding-left: 12px;
margin-bottom: .5em;
border: 1.2px solid #ffffff;
resize: none;
font-family: 'Roboto', sans-serif;
font-size: 16px;
letter-spacing: 1px;



}

textarea:focus::-webkit-input-placeholder {
    opacity: 0;
}


/* This will remove the scroll bar from the number input */

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
   margin: 0;
}


.typewrite{
	text-decoration:none;
	color:white;
	font-size: calc(19px + (26 - 14) * ((100vw - 300px) / (1600 - 300)));
	cursor:none;
  letter-spacing: 2px;

}


.pagkilala {

	text-decoration:none;
	color: #00FF00 ;
	font-weight: bolder;
	transition: .4s;
  display: inline-block;
  position: center;


  }

.pagkilala:hover {
transform: rotate(15deg);
color: #00FF00;
font-size: 4vw;


}

.pagkilala:hover span {display:none}
.pagkilala:hover:before {content:"Perfect for static sites!"}
