

body *  {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  	
}

body {

     background-color: #300A24;
	 color: white; 
     font-weight: bolder;
	 text-align:center;
	 margin-left: 30%;
	 margin-right: 30%;
	 margin-top: 30px;
     font-family: 'White Rabbit',IBM Plex Serif,Lucida Console,Inconsolata, monospace;
	 font-size: 16px;
	 line-height: 1.1;
	 
    
}



#dalawa {
	text-align:left;
	font-size: 25px;
	margin-left: 16px;
	
	

	
}

::placeholder {
  font-size: 16px;
  text-align:left;
  color:white;
  padding-left: 6px;
  font-family:  'White Rabbit',IBM Plex Serif,Lucida Console,Inconsolata, monospace;
  display: flex;
  justify-content: left;
  font-weight:normal;
}

/* for input css */

input[type=name] {
  width: 100%;
  padding: 13px 5px;
  margin: 8px 0;
  border: 3px solid white;
  border-radius: 4px;
  background-color:#300A24;
  color:white;
  font-size: 16px;
}


input[type=number] {
  width: 100%;
  padding: 13px 5px;
  margin: 8px 0;
  border: 3px solid white;
  border-radius: 4px;
  background-color:#300A24;
  color:white;
  font-size: 16px;
  
  
}

/* This will remove the scroll bar from the number input */ 

input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
   margin: 0; 
}


input[type=email] {
  width: 100%;
  padding: 13px 5px;
  margin: 8px 0;
  border: 3px solid white;
  border-radius: 4px;
  background-color:#300A24;
  color:white;
  font-size: 16px;
}


input[type=subject] {
  width: 100%;
  padding: 13px 5px;
  margin: 8px 0;
  border: 3px solid white;
  border-radius: 4px;
  background-color:#300A24;
  color:white;
  font-size: 16px;
  
}


textarea {
  resize: none;
  width: 100%;
  height: 170px;
  padding: 13px 5px;
  margin: 8px 0;
  border: 3px solid white;
  border-radius: 4px;
  background-color:#300A24;
  color:white;
  font-size: 16px;
  
  
}


button {
  background-color: black;
  border: 2px solid white;
  color: #00FF00;
  padding: 14px 30px;
  padding-bottom: 15px;
  text-decoration: none;
  margin: 2px 2px;
  margin-bottom: 40px;
  cursor: pointer;
  border-radius: 4px;
  margin-top:2px;
  width:11em;
  font-family: 'White Rabbit',IBM Plex Serif,Lucida Console,Inconsolata, monospace;
  font-size: 12px;
  text-align: center;
  font-weight: bolder;
  white-space: normal;
  display: flex;
  justify-content: center;
  
  
  
  
}



h2 {
	padding-top :10px;
	text-align:left;
	
}

.salamat {
	text-align:center;
	
}


.line-1{
    position: relative;
    top: 50%;  
    width: 24em;
    margin: 0 auto;
    border-right: 2px solid rgba(255,255,255,.75);
    font-size: 160%;
    text-align: center;
    white-space: nowrap;
    overflow: hidden;
    transform: translateY(-50%);    
}



.line-2{
    position: relative;
    top: 50%;  
    width: 24em;
    margin: 0 auto;
    border-right: 2px solid rgba(255,255,255,.75);
    font-size: 160%;
    text-align: center;
    white-space: nowrap;
    overflow: hidden;
    transform: translateY(-50%);    
}




/* Animation */
.anim-typewriter{
  animation: typewriter 4s steps(44) 1s 1 normal both,
             blinkTextCursor 3000ms steps(44) infinite normal;  /* Fade effect ito */ 
			 
}

@keyframes typewriter{
  from{width: 0;}
  to{width: 22em;}
}
@keyframes blinkTextCursor{
  from{border-right-color: rgba(255,255,255,.75);}
  to{border-right-color: transparent;}
    
}



@font-face {
    font-family: 'White Rabbit';
    src: url('WhiteRabbit.woff2') format('woff2'),
        url('WhiteRabbit.woff') format('woff');
    font-weight: normal;
    font-style: normal;
	letter-spacing: 3px;
}




