



body *  {
  width: 100%;
  height: 100%;
  padding: 0;
  
  	
}

.typewrite{
	text-decoration:none;
	color:white;
	
	
}

body {

     background-color: #300A24;
	 color: white; 
     font-weight: bolder;
	 text-align:center;
	 margin-left: 30%;
	 margin-right: 30%;
	 margin-top: 30px;
     font-family: 'Quango',IBM Plex Serif,Lucida Console,Inconsolata, monospace;
	 line-height: 1.1;
	
	 
    
}


::placeholder {
  font-size: 16px;
  text-align:left;
  color:white;
  padding-left: 6px;
  font-family:  'White Rabbit',IBM Plex Serif,Lucida Console,Inconsolata, monospace;
  display: flex;
  justify-content: left;
  font-weight:normal;
}

/* for input css */

input[type=name] {
  width: 100%;
  padding: 13px 5px;
  margin: 8px 0;
  border: 3px solid white;
  border-radius: 4px;
  background-color:#300A24;
  color:white;
  font-size: 16px;
}


input[type=number] {
  width: 100%;
  padding: 13px 5px;
  margin: 8px 0;
  border: 3px solid white;
  border-radius: 4px;
  background-color:#300A24;
  color:white;
  font-size: 16px;
  
  
}

/* This will remove the scroll bar from the number input */ 

input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
   margin: 0; 
}


input[type=email] {
  width: 100%;
  padding: 13px 5px;
  margin: 8px 0;
  border: 3px solid white;
  border-radius: 4px;
  background-color:#300A24;
  color:white;
  font-size: 16px;
}


input[type=subject] {
  width: 100%;
  padding: 13px 5px;
  margin: 8px 0;
  border: 3px solid white;
  border-radius: 4px;
  background-color:#300A24;
  color:white;
  font-size: 16px;
  
}


textarea {
  resize: none;
  width: 100%;
  height: 170px;
  padding: 13px 5px;
  margin: 8px 0;
  border: 3px solid white;
  border-radius: 4px;
  background-color:#300A24;
  color:white;
  font-size: 16px;
  
  
}


button {
  background-color: black;
  border: 2px solid white;
  color: #00FF00;
  padding: 14px 30px;
  padding-bottom: 15px;
  text-decoration: none;
  margin: 2px 2px;
  margin-bottom: 40px;
  cursor: pointer;
  border-radius: 4px;
  margin-top:2px;
  width:9em;
  height:3em;
  font-family: 'White Rabbit',IBM Plex Serif,Lucida Console,Inconsolata, monospace;
  font-size: 17px;
  text-align: center;
  font-weight: bolder;
  white-space: normal;
  /* display: flex; => tanggal muna */
  justify-content: center;
  
  
  
  
}


#makinilya {
	
	font-size: 40px;
}




@font-face {
    font-family: 'White Rabbit';
    src: url('WhiteRabbit.woff2') format('woff2'),
        url('WhiteRabbit.woff') format('woff');
    font-weight: normal;
    font-style: normal;
	letter-spacing: 3px;
}



@font-face {
    font-family: 'Quango';
    src: url('Quango.woff2') format('woff2'),
        url('Quango.woff') format('woff');
    font-weight: bolder;
    font-style: normal;
}



